html {
    background-color: #CCCCCC;
}

body {
    background-color: #CCCCCC;
}

.headerWrapper {
    height: 50px;
}

.innerHeaderWrapper {
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 4px;
    border-bottom: 1px solid #a6a6a6;
}

.username {
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
}

#userProfile {
    display: inline-block;
}

#navigation {
    display: inline-block;
    margin-left: 1%;
}

#profilePic {
    width: 50px;
    border-radius: 100%;
}

.friendRequests {
    margin-bottom: 1%;
}

.popup {
    position: absolute;
    border: 1px solid grey;
    padding: 1%;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.75);
}

#right {
    position: absolute;
    right: 0;
    top: 0;
    padding: 18px
}

#friendRequestPic {
    width: 50px;
}

#searchWrapper {
    float: right;
    margin-top: 8px;
    margin-right: 1%;
    width: 15%;
    min-width: 100px;
}

.searchUser {
    margin-bottom: 5px;
}

#searchWrapper .popup {
    text-align: center;
}

#searchUser {
    overflow: hidden;
    max-width: 170px;
}

#searchResultsWrapper {
    margin-top: 2px;
}

.wellcome {
    margin-top: 5%;
    text-align: center;
    color: rgb(51, 122, 183);
    font-family: 'Indie Flower', cursive;
    padding: 5%;
    background-color: rgb(213, 228, 240);
    border-radius: 15px;
    /* border: 1px dashed; */

    -webkit-box-shadow: 6px 6px 27px -4px rgba(50, 50, 50, 0.97);
    -moz-box-shadow: 6px 6px 27px -4px rgba(50, 50, 50, 0.97);
    box-shadow: 6px 6px 27px -4px rgba(50, 50, 50, 0.97);
}

.lead {
    margin-top: 2%;
    margin-bottom: 5%;
}

.cover-heading {
    font-size: 60px;
}

a.btn {
    margin: 1%;
    -webkit-box-shadow: 3px 3px 14px 0px rgba(50, 50, 50, 0.74);
    -moz-box-shadow: 3px 3px 14px 0px rgba(50, 50, 50, 0.74);
    box-shadow: 3px 3px 14px 0px rgba(50, 50, 50, 0.74);
}

.login,
.register {
    margin: 2% auto;
    width: 25%;
    display: block;
    border: 1px solid #b7b4b4;
    border-radius: 5px;
    padding: 2%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
}

.register {
    width: 40%;
}

#loginBtn {
    margin-right: 7%;
}

#registerBtn {
    margin-right: 2%;
}

.loginWrapper h2,
.registerWrapper h2 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 3%;
    text-shadow: 2px 2px 2px rgba(228, 228, 228, 0.83);
    color: rgb(51, 122, 183);
}

label {
    font-family: 'Indie Flower', cursive;
}

input[type="submit"],
input[type="button"] {
    font-family: 'Indie Flower', cursive;
}

.pageInfo {
    margin-top: 2%;
    background-color: #2f2f2f;
    color: #CCCCCC;
    font-family: 'Indie Flower', cursive;
    text-align: left;
    margin-bottom: 1%;
    -webkit-box-shadow: 0px 4px 9px 0px rgba(50, 50, 50, 0.84);
    -moz-box-shadow: 0px 4px 9px 0px rgba(50, 50, 50, 0.84);
    box-shadow: 0px 4px 9px 0px rgba(50, 50, 50, 0.84);
}

.pageInfo #filter {
    display: inline-block;
    float: right;
    margin: 2%;
}

.pageInfo #filter input[type="text"] {
    display: inline-block;
    width: inherit;
}

.pageInfo h3 {
    margin: 2%;
    font-size: 30px;
    display: inline-block;
}

#friendsList {
    margin-top: 2%;
    text-align: left;
}

#friend {
    padding: 3%;
    margin: 2%;
    display: inline-block;
    text-align: center;
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px;
}

.friendName {
    overflow: hidden;
    max-width: 105px;
}

#friend:hover {
    background-color: ghostwhite;
}

#friend img {
    border-radius: 100%;
    border: 1px solid;
    width: 102px;
    height: 102px;
}

#friend a {
    display: block;
    font-size: 18px;
    margin-top: 7%;
    margin-bottom: 0;
}

.editProfileWrapper form {
    padding: 2%;
    background-color: white;
    border: 1px solid grey;
}

.changePasswordWrapper {
    text-align: center
}

.changePasswordFormGroup {
    text-align: center;
}

.inputPasswordInnerWrapper {
    width: 50%;
    display: inline-block;
}

#images {
    text-align: center;
    margin-bottom: 0%;
    border-bottom: 1px solid gray;
    padding-bottom: 2%;
}

#images #profileImage {
    display: inline-block;
    margin-right: 2%;
}

#images #coverImage {
    display: inline-block;
}

#images #profileImage img,
#images #coverImage img {
    padding: 1%;
    margin: 1%;
    border: 1px dashed black;
    max-height: 500px;
    max-width: 500px;
}

.imageCaption {
    font-family: 'Indie Flower', cursive;
}

#forms {
    text-align: center;
    border-bottom: 1px solid grey;
    margin-bottom: 1%;
}

#forms .form-group {
    text-align: left;
    display: inline-block;
    margin: 4%;
}

#forms .gender {
    border: 1px dashed black;
    margin-left: 0;
    padding: 1%;
}

#forms h4 {
    display: inline-block;
    padding-right: 0;
    font-family: 'Indie Flower', cursive;
}

.editProfileWrapper input[type="submit"] {
    margin-left: 4%;
}

#contentWrapper {
    margin-top: 2%;
}

.postWrapper {
    margin-bottom: 1%;
    text-align: center;
}

.post {
    margin: 0 auto;
    padding: 1%;
    width: 40%;
    text-align: initial;
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px;
}

.makeComment {
    display: inline-block;
}

.comment {
    display: inline-block;
    width: 55%;
}

.allCommentsBtnWrapper {
    margin-bottom: 1%;
}

.postHeader {
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-bottom: 2%;
}

.imgSmall {
    width: 50px;
    border-radius: 100%;
}

.date {
    font-size: small;
}

.appreciatePost {
    display: inline-block;
    margin-left: 1%;
}

.commentsWrapper {
    background-color: #f6f7f8;
    margin-top: -1px;
}

#coverImg {
    overflow: hidden;
    width: 100%;
    max-height: 350px;
}

#profileImgWrapper {
    margin-top: -20%;
    margin-left: 3%;
}

#profileImg {
    border-radius: 100%;
    width: 25%;
}

#fullNameWrapper {
    display: inline-block;
    margin-left: 5%;
    font-family: cursive;
    font-size: 5vw;
    color: white;
}

#userFriendsPreview {
    float: right;
    background-color: #e9eaed;
    padding: 1%;
    width: 15%;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 2px;
}

#friendPreview {
    margin-bottom: 5%;
    overflow: hidden;
}

.myFriendsPreview {
    margin-top: 1%;
}

.morePostsWrapper {
    text-align: center;
}

.pager {
    background-color: white;
    border-radius: 25px;
    border: 1px solid rgb(174, 174, 174);
    padding: 7px;
    font-family: cursive;
    font-weight: bold;
}

.noPosts {
    font-family: cursive;
    font-weight: bold;
}

#makePostWrapper {
    float: left;
    width: 22%;
    text-align: center;
}

.postComment {
    margin-bottom: 2%;
}

.commentContent {
    margin-left: 12%;
    word-wrap: break-word;
    overflow: hidden;
}

.deletePost {
    margin-top: -30px;
    margin-bottom: 1%;
    text-align: right;
}

.removePostbtn {
    padding: 1%;
    font-size: 12px;
    font-family: 'Indie Flower', cursive;
}
