<div>
    <form ng-submit="changePasswordFn()">
        <div>
            <label for="oldPassword">Old Password</label>
            <input type="password" id="oldPassword" required placeholder="Old Password" ng-model="changePassword.oldPassword" />
        </div>
        <div>
            <label for="password">New Password</label>
            <input type="password" id="password" required placeholder="Password" ng-model="changePassword.newPassword" />
        </div>
        <div>
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" id="confirmPassword" required placeholder="Confirm new password" ng-model="changePassword.confirmPassword" />
        </div>
        <input type="submit" />
    </form>
</div>
