<div ng-init="loadProfileData()">
    <form ng-submit="editProfile()">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" required placeholder="Name" ng-model="ownProfileData.name" />
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" required placeholder="myemail@example.com" ng-model="ownProfileData.email" />
        </div>
        <div>
            <label for="0">Other</label>
            <input type="radio" name="gender" id="0" value="0" ng-model="ownProfileData.gender" />
            <label for="1">Male</label>
            <input type="radio" name="gender" id="1" value="1" ng-model="ownProfileData.gender" />
            <label for="2">Female</label>
            <input type="radio" name="gender" id="2" value="2" ng-model="ownProfileData.gender" />
        </div>
        <div>
            <img ng-src="{{ownProfileData.profileImageData}}" />
            <input type="file" accept=".jpg" ng-model="ownProfileData.profileImageData" />
        </div>
        <div>
            <img ng-src="{{ownProfileData.coverImageData}}" />
            <input type="file" accept=".jpg" ng-model="ownProfileData.coverImageData" />
        </div>
        <input type="submit" />
    </form>
</div>
