<div class="friendsWrapper" ng-init="prepareDataForFriendsPage()">
    <div class="pageInfo">
        <h3>
            <span>{{fullName}}</span> - Friends (<a href="#/user/friends">{{friends.numbetOfFriends}}</a> in total)
        </h3>
        <div id="filter">
            <label for="filterByName">Name filter:</label>
            <input type="text" class="form-control" placeholder="Filter by name" ng-model="filter.name" />
        </div>
    </div>
    <div id="friendsList">
        <ul>
            <li id="friend" ng-repeat="friend in friends | filter : filter">
                <img ng-src="{{friend.profileImageData || '/sources/default.jpg'}}" />
                <p>{{friend.name}}</p>
            </li>
        </ul>
    </div>
</div>
