<div>
    <div class="pageInfo">
        <h3>News feed</h3>
    </div>
    <div id="userFriendsPreview" class="myFriendsPreview">
        <p ng-if="myFriendsPreview.totalCount>0">
            Total friends count:
            <a href="#/user/friends">
                <span ng-bind="myFriendsPreview.totalCount"></span>
            </a>
        </p>
        <div>
            <div id="friendPreview" ng-repeat="friend in myFriendsPreview.friends">
                <div>
                    <img class="imgSmall" ng-src="{{friend.profileImageData || '/sources/default.jpg'}}" />
                    <a class="username" href="#/users/{{friend.username}}" ng-bind="friend.name"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="contentWrapper">
        <div ng-repeat="post in newsFeed | orderBy: '-date' track by post.id" class="postWrapper">
            <div class="post">
                <div class="postHeader">
                    <img class="imgSmall" ng-src="{{post.author.profileImageData || '/sources/default.jpg'}}" />
                    <a class="username" ng-click="showDetails[post.id][post.author.id] = !showDetails[post.id][post.author.id]" ng-bind="post.author.name"></a> posted on
                    <div class="popup" ng-show="showDetails[post.id][post.author.id]">
                        <img class="imgSmall" ng-src="{{post.author.profileImageData || '/sources/default.jpg'}}" />
                        <a class="username" href="#/users/{{post.author.username}}" ng-bind="post.author.name"></a>
                        <button ng-show="!post.author.isFriend && !post.author.hasPendingRequest && post.author.username != ownProfileData.username" ng-click="sendFriendRequest(post.author.username)" class="btn btn-info">Send Friend Request</button>
                        <span ng-show="post.author.hasPendingRequest">You have send already a friend invitation</span>
                        <span ng-show="post.author.isFriend">friend</span>
                    </div>
                    <img class="imgSmall" ng-src="{{post.wallOwner.profileImageData || '/sources/default.jpg'}}" />
                    <a class="username" ng-click="showDetails[post.id][post.wallOwner.id] = !showDetails[post.id][post.wallOwner.id]" ng-bind="post.wallOwner.name"></a>'s wall
                    <div class="popup" ng-show="showDetails[post.id][post.wallOwner.id]">
                        <img class="imgSmall" ng-src="{{post.wallOwner.profileImageData || '/sources/default.jpg'}}" />
                        <a class="username" href="#/users/{{post.wallOwner.username}}" ng-bind="post.wallOwner.name"></a>
                        <button ng-show="!post.wallOwner.isFriend && !post.wallOwner.hasPendingRequest && post.wallOwner.username != ownProfileData.username" ng-click="sendFriendRequest(post.wallOwner.username)" class="btn btn-info">Send Friend Request</button>
                        <span ng-show="post.wallOwner.hasPendingRequest">You have already send a friend invitation</span>
                        <span ng-show="post.wallOwner.isFriend">friend</span>
                    </div>
                    <p class="date">
                        {{post.date|date:"'on' dd MM yyyy 'at' HH:mm"}}
                    </p>
                    <div class="deletePost" ng-show="(post.wallOwner.username == ownProfileData.username) || post.author.username==ownProfileData.username">
                        <button class="btn btn-danger removePostbtn" ng-click="deletePost(post.id)">Remove post</button>
                    </div>
                </div>
                <div ng-include="'partials/post-partial.html'"></div>
            </div>
            <div ng-include="'partials/comments.html'"></div>
        </div>
        <div class="morePostsWrapper">
            <button class="pager" ng-hide="noMorePosts" ng-click="loadMorePosts(lastPostId)">Load more posts</button>
            <div class="noPosts" ng-show="noMorePosts"><span>There are no more posts</span>
            </div>
        </div>
    </div>
</div>
