<div>
    <div ng-repeat="post in newsFeed track by post.id">
        <p>
            <img ng-src="{{post.author.profileImageData}}" />
            <span>{{post.author.name}}</span> posted on
            <img ng-src="{{post.wallOwner.profileImageData}}" />
            <span>{{post.wallOwner.name}}</span>'s wall
        </p>
        <p>
            {{post.date|date:"'on' dd MM yyyy 'at' HH:mm"}}
        </p>
        <div>
            <p>{{post.postContent}}</p>
            <a ng-show="post.liked">Unlike</a>
            <a ng-hide="post.liked">Like</a>
        </div>
        <div>
            <p ng-show="post.liked">
                You <span ng-if="(post.likesCount-1)>0">and {{post.likesCount-1}} other people</span> like this.
            </p>
            <p ng-hide="post.liked">
                {{post.likesCount}} people like this.
            </p>
        </div>
    </div>
</div>
