<div class="register">
    <div>
        <form ng-submit="register()">
            <input type="text" placeholder="User Name" ng-model="registerData.username" />
            <input type="password" ng-model="registerData.password" />
            <input type="password" ng-model="registerData.confirmPassword" />
            <input type="text" placeholder="Name" ng-model="registerData.name" />
            <input type="email" placeholder="myemail@example.com" ng-model="registerData.email" />
            <input type="submit" />
        </form>
    </div>
</div>
