<div class="register">
    <div>
        <form ng-submit="register()">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" required placeholder="Username" ng-model="registerData.username" />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" required placeholder="Password" ng-model="registerData.password" />
            </div>
            <div>
                <label for="confirmPassword">Confirm password</label>
                <input type="password" id="confirmPassword" required placeholder="Confirm password" ng-model="registerData.confirmPassword" />
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" required placeholder="Name" ng-model="registerData.name" />
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" required placeholder="myemail@example.com" ng-model="registerData.email" />
            </div>
            <div>
                <input type="submit" />
                <a href="#/login">Login</a>
            </div>
        </form>
    </div>
</div>
