<div>
    <div>
        <div>
            <img ng-src="{{userProfile.coverImageData}}">
        </div>
        <div>
            <img ng-src="{{userProfile.profileImageData}}">
        </div>
        <div>
            <span ng-bind="userProfile.name"></span>
        </div>
    </div>
    <div>
        <div>
            <p ng-if="userFriendsPreview.totalCount>0">
                Total friends count:
                <a href="#/users/{{userProfile.username}}/friends">
                    <span ng-bind="userFriendsPreview.totalCount"></span>
                </a>
            </p>
            <div>
                <div ng-repeat="friend in userFriendsPreview.friends">
                    <div>
                        <img ng-src="{{friend.profileImageData}}" />
                        <span ng-bind="friend.name"></span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <form ng-submit="makePost()">
                <input type="text" placeholder="Message..." ng-model="newPost.text" />
                <input type="submit" value="Post" />
            </form>
        </div>
        <div ng-repeat="post in wallFeed | orderBy: '+date' track by post.id">
            <p>
                <span>Post by </span>
                <img ng-src="{{post.author.profileImageData}}" />
                <a href="#/users/{{post.author.username}}" ng-bind="post.author.name"></a>
            </p>
            <p>
                {{post.date|date:"'on' dd MM yyyy 'at' HH:mm"}}
            </p>
            <div>
                <p ng-bind="post.postContent"></p>
                <a ng-show="post.liked" ng-click="unlikePost(post.id)">Unlike</a>
                <a ng-hide="post.liked" ng-click="likePost(post.id)">Like</a>
            </div>
            <div>
                <p ng-show="post.liked">
                    You <span ng-if="(post.likesCount-1)>0">and <span ng-bind="post.likesCount-1"></span> other people</span> like this.
                </p>
                <p ng-hide="post.liked">
                    <span ng-bind="post.likesCount"></span> people like this.
                </p>
            </div>
            <div ng-repeat="comment in post.comments | orderBy: '+date' track by comment.id">
                <p>
                    <img ng-src="{{comment.author.profileImageData}}" />
                    <span ng-bind="comment.author.name"></span>
                </p>
                <p>
                    {{comment.date|date:"'on' dd MM yyyy 'at' HH:mm"}}
                </p>
                <div>
                    <p ng-bind="comment.commentContent"></p>
                    <span ng-bind="comment.likesCount"></span>
                    <a ng-show="comment.liked" ng-click="unlikeComment(post.id,comment.id)">Unlike</a>
                    <a ng-hide="comment.liked" ng-click="likeComment(post.id,comment.id)">Like</a>
                </div>
            </div>
            <div>
                <button ng-click="loadAllComments(post.id)">Load all comments</button>
            </div>
            <div>
                <form ng-submit="postComment(post.id,commentContent[post.id])">
                    <label for="comment{{post.id}}">Add comment</label>
                    <input type="text" ng-model="commentContent[post.id]" id="comment{{post.id}}" />
                    <input type="submit" value="Post comment" />
                </form>
            </div>
        </div>
    </div>

</div>
