<div>
    <div>
        <div id="coverImgWrapper">
            <img ng-src="{{userProfile.coverImageData  || '/sources/default-cover.jpg'}}" id="coverImg">
            <div id="profileImgWrapper">
                <img ng-src="{{userProfile.profileImageData || '/sources/default.jpg'}}" id="profileImg">
                <div id="fullNameWrapper">
                    <span ng-bind="userProfile.name"></span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div ng-show="userProfile.isFriend" id="userFriendsPreview">
            <p ng-if="userFriendsPreview.totalCount>0">
                Total friends count:
                <a href="#/users/{{userProfile.username}}/friends">
                    <span ng-bind="userFriendsPreview.totalCount"></span>
                </a>
            </p>
            <div>
                <div id="friendPreview" ng-repeat="friend in userFriendsPreview.friends">
                    <div>
                        <img class="imgSmall" ng-src="{{friend.profileImageData || '/sources/default.jpg'}}" />
                        <a class="username" href="#/users/{{friend.username}}" ng-bind="friend.name"></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="makePostWrapper">
            <form ng-submit="makePost()">
                <label for="makePost">Submit a post</label>
                <input type="text" id="makePost" class="form-control" placeholder="Make a post..." ng-model="newPost.text" />
            </form>
        </div>
        <div id="contentWrapper">
            <div ng-repeat="post in wallFeed | orderBy: '-date' track by post.id" class="postWrapper">
                <div class="post">
                    <div class="postHeader">
                        <span>Post by</span>
                        <img class="imgSmall" ng-src="{{post.author.profileImageData || '/sources/default.jpg'}}" />
                        <a class="username" ng-click="showDetails[post.id][post.author.id] = !showDetails[post.id][post.author.id]" ng-bind="post.author.name"></a>
                        <div class="popup" ng-show="showDetails[post.id][post.author.id]">
                            <img class="imgSmall" ng-src="{{post.author.profileImageData || '/sources/default.jpg'}}" />
                            <a class="username" href="#/users/{{post.author.username}}" ng-bind="post.author.name"></a>
                            <button ng-show="!post.author.isFriend && !post.author.hasPendingRequest && post.author.username != ownProfileData.username" ng-click="sendFriendRequest(post.author.username)" class="btn btn-info">Send Friend Request</button>
                            <span ng-show="post.author.hasPendingRequest">You have send already a friend invitation</span>
                            <span ng-show="post.author.isFriend">friend</span>
                        </div>
                        <p class="date">
                            {{post.date|date:"'on' dd MM yyyy 'at' HH:mm"}}
                        </p>
                        <div class="deletePost" ng-show="(post.wallOwner.username == ownProfileData.username) || post.author.username==ownProfileData.username">
                            <button class="btn btn-danger removePostbtn" ng-click="deletePost(post.id)">Remove post</button>
                        </div>
                    </div>
                    <div>
                        <p ng-bind="post.postContent"></p>
                        <a ng-show="post.liked" ng-click="unlikePost(post.id)">Unlike</a>
                        <a ng-hide="post.liked" ng-click="likePost(post.id)">Like</a>
                        <div class="appreciatePost">
                            <p ng-show="post.liked">
                                You <span ng-if="(post.likesCount-1)>0">and <span ng-bind="post.likesCount-1"></span> other people</span> like this.
                            </p>
                            <p ng-hide="post.liked">
                                <span ng-bind="post.likesCount"></span> people like this.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="commentsWrapper post">
                    <div class="postComment" ng-repeat="comment in post.comments | orderBy: '+date' track by comment.id">
                        <p>
                            <img class="imgSmall" ng-src="{{comment.author.profileImageData || '/sources/default.jpg'}}" />
                            <a class="username" ng-click="showDetails[comment.id][comment.author.id] = !showDetails[comment.id][comment.author.id]" ng-bind="comment.author.name"></a>
                            <span class="date">{{comment.date|date:"'on' dd MM yyyy 'at' HH:mm"}}</span>
                            <div class="popup" ng-show="showDetails[comment.id][comment.author.id]">
                                <img class="imgSmall" ng-src="{{comment.author.profileImageData || '/sources/default.jpg'}}" />
                                <a class="username" href="#/users/{{comment.author.username}}" ng-bind="comment.author.name"></a>
                                <button ng-show="!comment.author.isFriend && !comment.author.hasPendingRequest && comment.author.username != ownProfileData.username" ng-click="sendFriendRequest(comment.author.username)" class="btn btn-info">Send Friend Request</button>
                                <span ng-show="comment.author.hasPendingRequest">You have already send a friend invitation</span>
                                <span ng-show="comment.author.isFriend">friend</span>
                            </div>
                        </p>
                        <div>
                            <p class="commentContent" ng-bind="comment.commentContent"></p>
                            <a ng-show="comment.liked" ng-click="unlikeComment(post.id,comment.id)">Unlike</a>
                            <a ng-hide="comment.liked" ng-click="likeComment(post.id,comment.id)">Like</a>
                            <span ng-bind="comment.likesCount"></span>
                        </div>
                    </div>
                    <div ng-show="post.comments.length>0" class="allCommentsBtnWrapper">
                        <button ng-click="loadAllComments(post.id)" class="btn btn-default">Load all comments</button>
                    </div>
                    <div>
                        <form ng-submit="postComment(post.id,commentContent[post.id])" class="makeComment">
                            <input type="text" class="form-control comment" placeholder="Add comment" ng-model="commentContent[post.id]" id="comment{{post.id}}" />
                            <input type="submit" value="Post comment" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="morePostsWrapper">
                <button class="pager" ng-hide="noMorePosts" ng-click="loadMoreUserPosts(userProfile.username, lastPostId)">Load more posts</button>
                <div class="noPosts" ng-show="noMorePosts"><span>There are no more posts</span>
                </div>
            </div>
        </div>
    </div>

</div>
