<div class="wellcome">
    <div id="wellcomeMessage">
        <h1 class="cover-heading ">Wellcome to The Social Network</h1>
        <p class="lead ">
            <em>
                <span class="glyphicon glyphicon-menu-left "></span>
                This is the place to connect to new people
                <span class="glyphicon glyphicon-menu-right "></span>
            </em>
        </p>
    </div>
    <div>
        <a class="btn btn-lg btn-info " role="button " href="#/login ">Login</a>
        <a class="btn btn-lg btn-primary " role="button " href="#/register ">Register</a>
    </div>
</div>
